<!doctype html>
<html class="no-js" lang="pt-br">
<head>
    <title>Hipo Agência - Agência de Publicidade e Marketing Digital</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Hipo Agência">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>
    <meta name="description" content="">

    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <link rel="stylesheet" type="text/css" href="css/font-icons.min.css">
    <link rel="stylesheet" type="text/css" href="css/theme-vendors.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>
</head>
<body data-mobile-nav-style="full-screen-menu" data-mobile-nav-bg-color="">

<header>
    <!-- start navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent header-light fixed-top header-reverse-scroll menu-logo-center mobile-top-space">
        <div class="container-lg nav-header-container">
            <div class="col-6 px-lg-0 menu-logo">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo-black.png" data-at2x="images/logo-black@2x.png" class="default-logo" alt="">
                    <img src="images/logo.png" data-at2x="images/logo.png" class="alt-logo" alt="">
                    <img src="images/logo-black.png" data-at2x="images/logo-black@2x.png" class="mobile-logo" alt="">
                </a>
            </div>
            <div class="col-auto col-lg-12 px-lg-0 menu-order">
                <button class="navbar-toggler float-end collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation"
                        aria-expanded="false">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="navbar-collapse justify-content-between collapse" id="navbarNav" style="">
                    <ul class="navbar-nav alt-font navbar-left justify-content-end">

                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Home</a>
                        </li>

                        <li class="nav-item dropdown megamenu">
                            <a href="javascript:void(0);" class="nav-link">Serviços</a>
                            <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown"
                               aria-hidden="true"></i>
                            <div class="menu-back-div dropdown-menu megamenu-content" role="menu">
                                <div class="d-lg-flex justify-content-center">
                                    <ul class="d-lg-inline-block">
                                        <li class="dropdown-header">Tráfego pago</li>
                                        <li><a href="servicos.html"><i class="ti-layout-accordion-separated"></i>Serviços</a>
                                        </li>
                                        <li><a href="#"><i class="ti-layout-accordion-separated"></i>Serviços</a></li>
                                        <li><a href="#"><i class="ti-layout-accordion-separated"></i>Serviços</a></li>
                                    </ul>
                                    <ul class="d-lg-inline-block">
                                        <li class="dropdown-header">Redes Sociais</li>
                                        <li><a href="#"><i class="ti-layout-accordion-separated"></i>Serviços</a></li>
                                        <li><a href="#"><i class="ti-layout-accordion-separated"></i>Serviços</a></li>
                                        <li><a href="#"><i class="ti-layout-accordion-separated"></i>Serviços</a></li>
                                    </ul>
                                    <ul class="d-lg-inline-block">
                                        <li class="dropdown-header">Sites e Sistemas</li>
                                        <li><a href="#"><i class="ti-layout-accordion-separated"></i>Serviços</a></li>
                                        <li><a href="#"><i class="ti-layout-accordion-separated"></i>Serviços</a></li>
                                        <li><a href="#"><i class="ti-layout-accordion-separated"></i>Serviços</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown simple-dropdown">
                            <a href="#" class="nav-link">Projetos</a>
                            <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown"
                               aria-hidden="true"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="projetos.html">Sites e Sistemas</a>
                                </li>
                                <li>
                                    <a href="projetos.html">Mídias Sociais</a>
                                </li>
                                <li>
                                    <a href="projetos.html">Identidade Visual</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav alt-font navbar-right justify-content-start">

                        <li class="nav-item">
                            <a href="clientes.html" class="nav-link">Clientes</a>
                        </li>

                        <li class="nav-item">
                            <a href="blog.html" class="nav-link">Blog</a>
                        </li>

                        <li class="nav-item">
                            <a href="contato.html" class="nav-link">Contato</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
</header>










<section class="bg-light-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-6 col-sm-8 text-center margin-5-rem-bottom wow animate__fadeIn">
                <span class="d-inline-block alt-font text-medium text-extra-dark-gray text-uppercase font-weight-500 margin-20px-bottom sm-margin-15px-bottom">Algumas empresas que já trabalharam conosco</span>
                <h2 class="alt-font font-weight-900 text-extra-dark-gray title-large letter-spacing-minus-1px mb-0 md-w-100 wow animate__fadeIn"
                    data-wow-delay="0.3s" data-enllax-ratio=".3" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">
                    CLIENTES
                </h2>
            </div>
        </div>
        <div class="row w-85 margin-auto justify-content-center">
            <div class="col-6 col-lg-3 col-md-6 col-sm-6 md-margin-30px-bottom wow animate__fadeIn text-center"
                 data-wow-delay="0.2s">
                <img src="images/hipo/1.png" alt="Clientes da Hipo Agência">
            </div>

            <div class="col-6 col-lg-3 col-md-6 col-sm-6 md-margin-30px-bottom wow animate__fadeIn text-center"
                 data-wow-delay="0.4s">
                <img src="images/hipo/2.png" alt="Clientes da Hipo Agência">
            </div>

            <div class="col-6 col-lg-3 col-md-6 col-sm-6 wow animate__fadeIn text-center" data-wow-delay="0.6s">
                <img src="images/hipo/3.png" alt="Clientes da Hipo Agência">
            </div>

            <div class="col-6 col-lg-3 col-md-6 col-sm-6 wow animate__fadeIn text-center" data-wow-delay="0.8s">
                <img src="images/hipo/4.png" alt="Clientes da Hipo Agência">
            </div>

        </div>
    </div>
</section>


<section class=" home-freelancer-bg-img wow animate__fadeIn pd-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5 col-md-8 d-flex flex-column md-margin-50px-bottom wow animate__fadeIn"
                 data-wow-delay="0.2s">
                <h1 class="alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-2px mb-lg-auto md-margin-5-rem-bottom">
                    Vamos trabalhar <span class="text-border text-border-color-black text-border-width-2px opacity-3"> juntos?</span>
                </h1>
                <span class="alt-font font-weight-600 text-extra-medium text-extra-dark-gray text-uppercase d-block margin-25px-bottom">Atendemos</span>
                <p class="mb-0">Santos/SP<br>Riviera de São Lourenço</p>

                <span class="alt-font font-weight-600 text-extra-medium text-extra-dark-gray text-uppercase d-block margin-25px-bottom mt-5">Informações</span>
                <p><span class="font-weight-500 text-extra-dark-gray">Tel:</span> (13) 3027-4731 <br>
                    <span class="font-weight-500 text-extra-dark-gray">Email:</span> <a
                            href="mailto:falecom@hipoagencia.com.br" class="text-extra-dark-gray-hover">falecom@hipoagencia.com.br</a>
                </p>
                <div class="social-icon-style-02">
                    <ul class="medium-icon">
                        <li class="m-0"><a class="facebook text-start" href="https://www.facebook.com/hipoagencia"
                                           target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="m-0"><a class="instagram text-start" href="https://www.instagram.com/hipoagencia/"
                                           target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-1 col-md-8 wow animate__fadeIn" data-wow-delay="0.4s"
                 style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                <h5 class="alt-font font-weight-600 text-extra-dark-gray margin-5-rem-bottom letter-spacing-minus-1px">
                    Deixe sua mensagem que em breve entraremos em contato!</h5>
                <form action="email-templates/contact-form.php" method="post">
                    <input class="input-border-bottom border-color-extra-light-gray large-input px-0 margin-25px-bottom border-radius-0px required"
                           type="text" name="name" placeholder="Nome">
                    <input class="input-border-bottom border-color-extra-light-gray large-input px-0 margin-25px-bottom border-radius-0px required"
                           type="email" name="email" placeholder="E-mail">
                    <input class="input-border-bottom border-color-extra-light-gray large-input px-0 margin-25px-bottom border-radius-0px"
                           type="tel" name="phone" placeholder="Celular">
                    <textarea
                            class="input-border-bottom border-color-extra-light-gray large-input px-0 margin-35px-bottom border-radius-0px"
                            name="comment" rows="5" placeholder="Como podemos te ajudar?"></textarea>
                    <input type="hidden" name="redirect" value="">
                    <button class="btn btn-medium btn-fancy btn-black mb-0 submit" type="submit">enviar mensagem
                    </button>
                    <div class="form-results d-none"></div>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="big-section bg-extra-dark-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 md-margin-5-rem-bottom sm-margin-4-rem-bottom wow animate__fadeIn"
                 data-wow-delay="0.2s">
                <h6 class="alt-font text-white mb-0 line-height-40px sm-line-height-26px"><span
                        class="font-weight-600">"Uma grande ideia</span> ideia só se torna grande se souberem que ela
                    existe"<br>- Mr. Hipo</h6>
            </div>
        </div>
    </div>
</section>

<section class="half-section pt-0 home-personal-portfolio md-no-padding-bottom bg-extra-dark-gray">
    <div class="container-fluid">
        <div class="row row-cols-1 align-items-center">
            <div class="col col-md border border-right-0 border-left-0 border-bottom-0 border-color-white sm-margin-30px-bottom"></div>
            <div class="col col-md-auto text-center padding-4-half-rem-lr md-padding-2-half-rem-lr xs-padding-1-half-rem-top xs-padding-2-rem-bottom wow animate__fadeIn"
                 data-wow-delay="0.4s">
                <span class="alt-font font-weight-300 title-large-2 text-white letter-spacing-minus-3px d-block md-line-height-normal">Vamos trabalhar <span
                        class="font-weight-600">juntos?</span></span>
            </div>
            <div class="col col-md border border-right-0 border-left-0 border-bottom-0 border-color-white sm-margin-30px-top"></div>
        </div>
    </div>
</section>

<footer class="footer-light  bg-extra-dark-gray padding-5-rem-tb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4 text-center text-lg-start md-margin-20px-bottom">
                <span class="alt-font font-weight-600 text-small text-uppercase text-white">Bora continuar no <a
                        href="https://www.themezaa.com/" target="_blank"
                        class="text-decoration-line-bottom text-white">WhatsApp</a>?</span>
            </div>
            <div class="col-12 col-lg-4 text-center md-margin-20px-bottom">
                <div class="social-icon-style-12">
                    <ul class="medium-icon">
                        <li><a class="facebook" href="https://www.facebook.com/hipoagencia" target="_blank"><i
                                class="fab fa-facebook-f text-white"></i></a></li>
                        <li><a class="instagram" href="https://www.instagram.com/hipoagencia/" target="_blank"><i
                                class="fab fa-instagram text-white"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center text-lg-end last-paragraph-no-margin">
                <p class="alt-font font-weight-600 text-small text-uppercase text-white">Hipo Agência © 2022 -
                    Direitos reservados</p>
            </div>
        </div>
    </div>
</footer>

<a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/theme-vendors.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>


</body>
</html>
